@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove scrollbar (Scroll will work, just the scrollbar will be hidden) - {Use in sliders} */
  .noscr::-webkit-scrollbar {
    display: none;
  }
  
  .noscr {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  /* Fixes the chrome topbar scroll issue for phones */
  .h-fix-phone{
    height: -webkit-fill-available;
  }



/* Custom Scrollbar */
.scr::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scr::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #32353A; 
  border-radius: 10px;
}
 
/* Handle */
.scr::-webkit-scrollbar-thumb {
  background: #A7ADB7; 
  border-radius: 10px;
}

/* Handle on hover */
.scr::-webkit-scrollbar-thumb:hover {
  background: #A7ADB7; 
}